{% macro back_to_top(icon, translation, translation_domain, options) %}
	<span id="top-link-block" class="hidden">
        <a id="back-to-top" href="#top" class="btn btn-default">
        {{ icon(icon) }}
        {{ translation|trans({}, translation_domain) }}
        </a>
    </span>
{% endmacro %}

{% block back_to_top -%}
	<span id="top-link-block" class="hidden">
        <a id="back-to-top" href="#top" class="btn btn-default">
        {{ icon(icon) }}
        {{ translation|trans({}, translation_domain) }}
        </a>
    </span>
{%- endblock %}