
@media (min-width: @screen-xs-min) { 
	.btn-xs-block {
	  display: block;
	  width: 100%;
	}
}

@media (min-width: @screen-sm-min) { 
	.btn-sm-block {
	  display: block;
	  width: 100%;
	}
}

@media (min-width: @screen-md-min) { 
	.btn-md-block {
	  display: block;
	  width: 100%;
	}
}

@media (min-width: @screen-lg-min) { 
	.btn-lg-block {
	  display: block;
	  width: 100%;
	}
}