
@media (max-width: $screen-xs-min) { 
	.btn-xs-block {
	  display: block;
	  width: 100%;
	  
	  .btn-block {
	  	margin-top: 5px;
	  }
	}
}

@media (max-width: $screen-sm-min) { 
	.btn-sm-block {
	  display: block;
	  width: 100%;

	  .btn-block {
	  	margin-top: 5px;
	  }
	}
}

@media (max-width: $screen-md-min) { 
	.btn-md-block {
	  display: block;
	  width: 100%;

	  .btn-block {
	  	margin-top: 5px;
	  }
	}
}

@media (max-width: $screen-lg-min) { 
	.btn-lg-block {
	  display: block;
	  width: 100%;
	}
}
